{{outlet}}

<h1>Tasks</h1>

{{#each model as |task|}}
  <div class="well">
     <h4>Title: {{task.title}}</h4>
     <small>Date: {{formatDate task.date}}</small>
     <p>Description: {{task.description}}</p>
  </div>

{{/each}}
end